<div class="background-container">
    <div class="background-image"></div>
    <div class="flex justify-content-center align-items-center h-screen">

        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
            <div class="text-center mb-5">
                <img src="assets\Images\R.jpeg" alt="Image" height="90" class="mb-3">
                <div class="text-900 text-3xl font-medium mb-3">Forgot password ?</div>
            </div>

            <div>
                <form #f="ngForm">
                    <div class="col-12">
                        <div class="p-fluid p-formgrid grid">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-at"></i>
                                </span>
                                <input pInputText required [(ngModel)]="emailadd" name="email" placeholder="E-mail address"
                                    type="email" #email="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" />
                            </div>
                            <div class="alert-danger">
                                <div *ngIf="email.invalid && email.touched" class="text-danger">
                                    <br>* Enter an email address.<br>
                                </div>
                                <div *ngIf="email.invalid && email.errors && email.errors['pattern'] && email.touched">
                                    * Email must follow the format ****&#64;***.*** .<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <button pButton pRipple label="Recup password" [disabled]="f.invalid ?? false" icon="pi pi-reply" class="w-full" (click)="verifAndSendEmail()"></button>
                </form>
                <br>
                <button pButton pRipple label="Return" icon="pi pi-arrow-left" class="w-full"
                    [routerLink]="'/login'"></button>
            </div>
        </div>
    </div>
</div>